.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Add spacing between logo and text */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
  color: #007bff;
}

.contact-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.contact-btn:hover {
  background-color: #0056b3;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .logo {
    font-size: 24px;
    margin-left: 10px;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .mobile-menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .mobile-menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .mobile-menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav.open {
    display: block;
    margin-top: 15px;
  }

  .nav-list {
    list-style: none;
    padding: 0;
  }

  .nav-list li {
    margin-bottom: 10px;
  }

  .contact-btn {
    margin-top: 20px;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .header {
    padding: 20px;
  }

  .logo {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }

  .nav-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-list li {
    margin-right: 20px;
  }

  .nav-list li:last-child {
    margin-right: 0;
  }

  .nav-list a {
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }

  .contact-btn {
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .nav-list.mobile-mode {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list.mobile-mode li {
    margin-bottom: 10px;
  }
}